* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body {
    min-height:100vh;
    overflow: hidden;
    background-color: bisque;
}
 
.holes {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 10px;
    top: 50%;
    left: 50%;
    width: 670px;
    height: 630px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: black 20px 10px 50px;
    background: green;
}

.hole {
    position: relative;
    height: 150px;
    width: 160px;
    --border: 1px solid black;
    overflow: hidden;
    pointer-events: none;
}
 
.pile {
    position: absolute;
    bottom: -85px;
    left: -20px;
    width: 210px;
    object-fit: cover;
    pointer-events: none;
}
 
.mole {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 155px;
    object-fit: contain;
    z-index: -1;
    pointer-events: none;
}

#title {
    font-size: 2.5rem;
    color: rgb(103, 70, 33);
    position: absolute;
    left: 4.5%;
    top: 2%;
}


#start-button {
    position: absolute;
    left: 10.5%;
    top: 25%;
}

.score-table {
    font-size: 1.5rem;
    height: 100px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: darkgreen;
    position: absolute;
    left: 3%;
    top: 10%;
    transform: translate(-5%, -5%);
    border: 1px solid darkgreen;
}
 
.score-table div {
    display: flex;
    justify-content: space-between;
}

